.userfunctions {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.userfunctions div {
  margin-right: 30px;
}

@media all and (max-width: 1300px) {
  .userfunctions div {
    margin-right: 20px;
  }
}

@media all and (max-width: 1300px) {
  .userfunctions div {
    margin-right: 10px;
  }

  .userfunctions {
    font-size: 12px;
  }
}
